$('#new_rally_participant')[0].reset();
$('#new_rally_participant #rally_participant_country_code').val('LT');
$('#new_rally_participant').fadeOut('fast');
$('#new_rally_participant').fadeIn('fast');
$('#participants tr:first').after('<tr><td><%= @participant.start_number %>.</td><td><%= @participant.driver_name %>, <%= @participant.co_driver_name %><br><u><%= @participant.team_name %></u></td><td><%= @participant.car_name %></td><td><%= @participant.classification %></td><td><%= @participant.country_code %></td></tr>')