<p>
  <%= link_to "Dalyvių sąrašas (#{@rally.participants.size})", rally_participants_path(@rally), :class => 'btn' %>
  <%= link_to "Greičio ruožai (#{@rally.stages.size})", rally_stages_path(@rally), :class => 'btn' %>
  <%= link_to "Rezultatai (#{@rally.stage_times.size})", '', :class => 'btn' %>
</p>
<br>
<p align="center"><%= image_tag @rally.logo.to_s, :class => 'thumbnail', :width => '200px' %></p><br>
Ralis: <strong><%= @rally.name %></strong><br>
Danga: <%= @rally.surface %><br>
Prasideda: <%= @rally.starts_at %><br>
Aprašymas: <%= simple_format(@rally.description) %><br><br>