<h4><%= @rally.name %></h4>
<%= render 'admin_nav' %>
<br>
<p align="center"><%= image_tag @rally.logo.to_s, :class => 'thumbnail', :width => '200px' %></p><br>
Ralis: <strong><%= @rally.name %></strong><br>
Danga: <%= @rally.surface %><br>
Prasideda: <%= @rally.starts_at %><br>
Aprašymas: <%= simple_format(@rally.description) %><br><br>