<div class="">
  <p align="center"><%= image_tag "/#{@rally.id}_ralis.png", :width => '200px' %></p><br>
  Ralis: <strong><%= @rally.name %></strong> (<%= link_to 'pilnas aprašymas', show_rally_path %>)<br>
  Danga: <%= @rally.surface %>, <%= @rally.length.round(2) %> km<br>
  Prasideda: <%= @rally.starts_at %><br>
  Dalyvių skaičius: <%= @rally.participants.size %><br>
  GR skaičius: <%= @rally.stages.size %><br><br>

  <table>
    <tr>
      <th width="70px"></th>
      <th width="100px">Asfaltas</th>
      <th>Žvyras</th>
    </tr>
    <tr>
      <td>LARČ</td>
      <td>1.80km</td>
      <td>119.10km</td>
    </tr>
    <tr>
      <td>LRSČ</td>
      <td>1.80km</td>
      <td>62.70km</td>
    </tr>
  </table>
</div>
<br>
<p align="center">
  <% @rally.stages.each do |stage| %>
    <%= link_to "#{stage.name}", root_path(:stage_id => stage), :class => "btn btn-mini #{stage.is_current ? 'btn-warning' : 'btn-primary'}" %>
  <% end %>
  <%#= link_to "Visi", root_path, :class => 'btn btn-mini btn-inverse' %>
  <%= select_tag 'klase', options_for_select(classifications), { :prompt => 'Klasė', class: 'chzn-select mazas' } %>
</p>
<table class="table table-striped">
  <tr>
    <th>#</th>
    <th>S</th>
    <th>Ekipažas</th>
    <th>Kl</th>
    <th>Laikas</th>
  </tr>
  <% @stage_times.each_with_index do |stage_time, index| %>
    <tr>
      <td><%= index + 1 %>.</td>
      <td><%= stage_time.participant.start_number %></td>
      <td><%= full_team(stage_time.participant) %></td>
      <td><%= stage_time.participant.classification %></td>
      <td><%= format_time(stage_time.penalty_time.to_i + stage_time.time) %><br>
        <% unless stage_time.penalty_time.nil? %>
          <span class="label label-important"><%= penalty_time(stage_time.penalty_time) %></span>
        <% end %>
        </td>
    </tr>
  <% end %>
  <% if @stage_times.size == 0 %>
    <tr>
      <td colspan="6">Rezultatų dar nėra!</td>
    </tr>
  <% end %>
</table>
<%= render 'layouts/print' %>
<hr>
<h6>Komentarai</h6>
<div class="fb-comments" data-href="http://www.raceonline.lt" data-num-posts="10"></div>