<div class="">
  <p align="center"><%= image_tag "/#{@rally.id}_ralis.png", :width => '200px' %></p><br>
  Ralis: <strong><%= @rally.name %></strong> (<%= link_to 'pilnas aprašymas', show_rally_path %>)<br>
  Danga: <%= @rally.surface %>, <%= @rally.length.round(2) %> km<br>
  Prasideda: <%= @rally.starts_at %><br>
  Dalyvių skaičius: <%= @rally.participants.size %><br>
  GR skaičius: <%= @rally.stages.size %><br><br>

  <table>
    <tr>
      <th width="70px"></th>
      <th width="100px">Asfaltas</th>
      <th>Žvyras</th>
    </tr>
    <tr>
      <td>LARČ</td>
      <td>1.80km</td>
      <td>119.10km</td>
    </tr>
    <tr>
      <td>LRSČ</td>
      <td>1.80km</td>
      <td>62.70km</td>
    </tr>
  </table>
</div>
<br>
<table class="table table-striped">
  <tr>
    <th>#</th>
    <th>S</th>
    <th>Ekipažas</th>
    <th>Kl</th>
    <th>Laikas</th>
    <th>Vid. greitis</th>
  </tr>
  <% @stage_times.each_with_index do |stage_time, index| %>
    <tr>
      <td><%= index + 1 %>.</td>
      <td><%= stage_time.participant.start_number %></td>
      <td><%= stage_time.participant.name %></td>
      <td><%= stage_time.participant.classification %></td>
      <td><%= format_time(stage_time.time) %></td>
      <td><%= average_speed(stage_time.time, @rally.length) %> km/h</td>
    </tr>
  <% end %>
  <% if @stage_times.size == 0 %>
    <tr>
      <td colspan="6">Rezultatų dar nėra!</td>
    </tr>
  <% end %>
</table>