<h4>Pasitraukimai</h4>

<table class="table table-condensed table-striped">
  <tr>
    <th width="20px">St.</th>
    <th>Ekipažas</th>
    <th>GR</th>
    <th>Priežastis</th>
  </tr>
  <% @retirements.each do |retirement| %>
    <tr>
      <td><span class="label label-important"><%= retirement.participant.start_number %></span></td>
      <td width="280px"><%= full_team(retirement.participant) %></td>
      <td width="40px"><%= retirement.stage.present? ? retirement.stage.name : '-' %></td>
      <td><%= retirement.reason %></td>
    </tr>
  <% end %>
  <% if @retirements.size == 0 %>
  <tr>
    <td colspan="3">Informacijos apie pasitraukimus nėra!</td>
  </tr>
  <% end %>
</table>

<%= render 'layouts/print' %>
<hr>
<%= render :partial => 'facebook_comments', :locals => { :url => retirements_url } %>