<h4>Greičio ruožai</h4>

<table class="table table-striped">
  <tr>
    <th width="20px">Nr.</th>
    <th>GR</th>
    <th>Danga</th>
    <th>Ilgis</th>
    <th>Startas</th>
    <th>Uždaro<br>Atidaro</th>
  </tr>
  <% @stages.each do |stage| %>
    <tr>
      <td><%= stage.number %>.</td>
      <td><%= stage.name %></td>
      <td><%= stage.surface %></td>
      <td><%= stage.length %>km</td>
      <td><%= stage.starts_at %></td>
      <td><%= stage.closing_at %><br><%= stage.opening_at %></td>
    </tr>
  <% end %>
  <% if @stages.size == 0 %>
    <tr><td colspan="6"><span class="label label-warning">Nėra greičio ruožų!</span></td></tr>
  <% end %>
</table>

<div class="alert">Norėdami pamatyti didesnį vaizdą, paspauskite ant nuotraukos.</div>

<%= render 'layouts/print' %>
<%= render :partial => 'facebook_comments', :locals => { :url => special_stages_url } %>