<h3>Greičio ruožai</h3>

<table class="table table-striped">
  <tr>
    <th width="20px">Nr.</th>
    <th>Pavadinimas</th>
    <th>Danga</th>
    <th>Ilgis</th>
    <th>Startas</th>
  </tr>
  <% @stages.each do |stage| %>
    <tr>
      <td><%= stage.number %>.</td>
      <td><%= stage.name %></td>
      <td><%= stage.surface %></td>
      <td><%= stage.length %>km</td>
      <td><%= stage.starts_at %></td>
    </tr>
  <% end %>
  <% if @stages.size == 0 %>
    <tr><td colspan="6"><span class="label label-warning">Nėra greičio ruožų!</span></td></tr>
  <% end %>
</table>

<div class="alert">Norėdami pamatyti didesnį vaizdą, paspausite ant nuotraukos.</div>
<p align="center">
  <%= link_to(image_tag("/zemelapis.jpg"), '/zemelapis.jpg') %><br>
  <%= link_to(image_tag("/gr1.jpg"), '/gr1.jpg') %><br>
  <%= link_to(image_tag("/gr24.jpg"), '/gr24.jpg') %><br>
  <%= link_to(image_tag("/gr35.jpg"), '/gr35.jpg') %><br>
  <%= link_to(image_tag("/gr67.jpg"), '/gr67.jpg') %><br>
  <%= link_to(image_tag("/gr8.jpg"), '/gr8.jpg') %><br>
  <%= link_to(image_tag("/gr9.jpg"), '/gr9.jpg') %>
</p>