<h3>Starto tvarka</h3>

<table class="table table-striped">
  <tr>
    <th width="20px">Eil. Nr.</th>
    <th>Ekipažas<br>Komanda</th>
    <th>Automobilis</th>
    <th><%= link_to 'Įsk.', '#', :rel => 'tooltip', :title => 'Klasė / Įskaita' %></th>
    <th>Šalis</th>
  </tr>
  <% @participants.each do |participant| %>
    <tr>
      <td><%= participant.start_number %>.</td>
      <td><%= participant.driver_name %>, <%= participant.co_driver_name %><br><%= participant.team_name %></td>
      <td><%= participant.car_name %></td>
      <td><%= participant.classification %></td>
      <td><%= participant.country_code %></td>
    </tr>
  <% end %>
</table>