<h4><%= @rally.name %> greičio ruožų laikai</h4>
<br>
<%= form_for(@stage_time, :url => rally_stage_times_path, :remote => true) do |f| %>
  <%= f.hidden_field :rally_id, :value => @rally.id %>
  <table class="table">
    <tr>
      <td><%= f.select :stage_id, @rally.stages.collect {|s| [ "#{s.name} | #{s.surface} | #{s.length.round(2)} km", s.id ] } %></td>
      <td><%= f.select :participant_id, @rally.participants.collect {|p| [ "#{p.name}", p.id ] } %></td>
      <td><%= f.text_field :time, :placeholder => 'laikas..', :class => 'input-small', :required => true %></td>
      <td><%= f.submit 'Išsaugoti', :class => 'btn btn-primary btn-mini', :id => 'btn', :data => { 'loading-text' => 'Loading..' } %></td>
    </tr>
  </table>
<% end %>

<table class="table table-striped" id="laikai">
  <tr>
    <th width="20px">#</th>
    <th>Ekipažas</th>
    <th>GR</th>
    <th>Laikas</th>
    <th></th>
  </tr>
  <% @stage_times.each_with_index do |stage_time, index| %>
    <tr id="laikas_<%= stage_time.id %>">
      <td><%= index + 1 %>.</td>
      <td><%= stage_time.participant.name %></td>
      <td><%= stage_time.stage.name %></td>
      <td><%= format_time(stage_time.time) %></td>
      <td>
        <%= link_to raw('<span class="icon-edit"></span>'), edit_rally_stage_time_path(:rally_id => stage_time.rally_id, :id => stage_time.id), :class => 'btn btn-warning btn-mini' %>
        <%= link_to raw('<span class="icon-remove"></span>'), rally_stage_time_path(:rally_id => stage_time.rally_id, :id => stage_time.id), :class => 'btn btn-danger btn-mini', :method => :delete, :confirm => 'Ar tikrai?' %>
      </td>
    </tr>
  <% end %>
  <% if @stage_times.size == 0 %>
    <tr>
      <td colspan="6">
        <span class="label label-warning">Nėra greičio ruožų laikų!</span>
      </td>
    </tr>
  <% end %>
</table>