<h4><%= @rally.name %> greičio ruožai</h4>
<%= render 'admin_nav' %>
<%= link_to 'Naujas GR', new_rally_stage_path(@rally), :class => 'btn btn-primary btn-mini' %>
<br><br>
<table class="table table-striped">
  <tr>
    <th width="20px">Nr.</th>
    <th>Pavadinimas</th>
    <th>Danga</th>
    <th>Ilgis</th>
    <th>Startas</th>
    <th>Uždaro</th>
    <th>Atidaro</th>
    <th>Dbr?</th>
    <th></th>
  </tr>
  <% @stages.each do |stage| %>
    <tr>
      <td><%= stage.number %>.</td>
      <td><%= stage.name %></td>
      <td><%= stage.surface %></td>
      <td><%= stage.length %>km</td>
      <td><%= stage.starts_at %></td>
      <td><%= stage.closing_at %></td>
      <td><%= stage.opening_at %></td>
      <td><%= stage.is_current ? raw('<span class="label label-success">taip</span>') : '' %></td>
      <td>
        <%= link_to raw('<span class="icon-edit"></span>'), edit_rally_stage_path(:rally_id => stage.rally_id, :id => stage.id), :class => 'btn btn-warning btn-mini' %>
        <%= link_to raw('<span class="icon-remove"></span>'), rally_stage_path(:rally_id => stage.rally_id, :id => stage.id), :class => 'btn btn-danger btn-mini', :method => :delete, data: { confirm: 'Ar tikrai?' } %>
      </td>
    </tr>
  <% end %>
  <% if @stages.size == 0 %>
    <tr><td colspan="6"><span class="label label-warning">Nėra greičio ruožų!</span></td></tr>
  <% end %>
</table>