<ul class="nav nav-pills pull-right">
  <li <%= sidebar_link(request.path_info, root_path) %>><%= link_to 'Saulės ralis', root_path %></li>
  <li <%= sidebar_link(request.path_info, about_us_path) %>><%= link_to 'Apie projektą', about_us_path %></li>
  <li <%= sidebar_link(request.path_info, participants_path) %>><%= link_to 'Dalyvių sąrašas', participants_path %></li>
  <% if user_signed_in? %>
    <li><%= link_to '- Administravimas', '' %></li>
  <% end %>
</ul>
